@font-face {
    font-family: inter;
    src: url(../assets/fonts/Inter-Regular.ttf);
    font-style: normal;
}
@font-face {
    font-family: interBold;
    src: url(../assets/fonts/Inter-Bold.ttf);
    font-style: normal;
}

body{
    background: #12101D;
}

#particles-js{
    position: fixed;
    z-index: -3;
    width: 100%;
    height: 100%;
}

#iconoSE{
    width: 60%;
    margin-top: 0.4%;
}

.navButton{
    padding-left: 5%;
}

#search_bar{
    margin-left: 18%;
    width: 100%;
}

#navbarNavAltMarkup{
    padding-left: 20%;
}

#navboton{
    padding-left: 50%;
}

#nav-neon{
    position: absolute;
    background-color: aqua;
    width: 100%;
    height: 160px;
    margin-top: -4.8%;
    filter: blur(7px);
    z-index: -1;
    animation-name: neonbar;
    animation-duration: 2s;
}

#baranimation{
    animation-name: bar;
    animation-duration: 1s;
}

/* desde aqui empezamos lmcsi*/
#text-int-box{
    width: 100%;
    height: auto;
    background-color: black;
    opacity: 70%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
    margin-top: 5%;
    box-shadow: 10px 10px 10px  aqua;
}

#text-int{
    font-family: 'interBold';
    color: aqua;
    font-size: 6vh;
    text-align: center;
    padding-top: 4%;
}

#text-p{
    color: aqua;
    text-align: justify;
    margin: auto;
    padding-bottom: 4%;
}




@keyframes bar {
    0%{
        margin-top: -6.5%;
    }
    100%{
        margin-top: 0%;
    }
}

@keyframes neonbar {
    0%{
        width: 0%;
    }
    50%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}