.box22{
    animation-name: box;
    animation-duration: 2s;
}

@keyframes box {
    0%{
        margin-top: 2%;
        opacity: 0%;
    }
    100%{
        margin-top: 0;
        opacity: 100%;
    }
}